{
    "ignorePatterns": [
        "!.*",
        "dist",
        "node_modules"
    ],
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module",
        "allowImportExportEverywhere": "true"
    },
    "rules": {
        "no-undef": "error",
        "react/react-in-jsx-scope": "off",
        "prettier/prettier": [
            "error",
            {},
            {
                "usePrettierrc": false
            }
        ]
    },
    "env": {
        "node": true
    },
    "extends": [
        "plugin:react/recommended",
        "plugin:prettier/recommended",
        "prettier"
    ]
}